@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$body-bg: #ECECEC;
$body-color: #212121;
$font-size-base: 0.75rem;
$font-family-base: "Noto Sans JP", sans-serif;

$nav-tabs-link-active-color: #212121;
$nav-tabs-link-active-bg: #FFFFFF;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 8px;

$form-label-color: #424242;
$form-label-margin-bottom: 4px;
$form-label-font-weight: 600;
$input-border-color: #DEDEDE;
$input-border-radius: 6px;
$input-bg: #FFF;
$input-placeholder-color: #A4A4A4;

$list-group-bg: #fff;


@import "bootstrap";
@import "swal2";
@import "button";
@import "auth/login";
@import "main";
@import "responsive";
@import "quick_view";

