@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$body-bg: #ECECEC;
$body-color: #212121;
$font-size-base: 0.75rem;
$font-family-base: "Noto Sans JP", sans-serif;

$nav-tabs-link-active-color: #212121;
$nav-tabs-link-active-bg: #FFFFFF;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 8px;

$form-label-color: #424242;
$form-label-margin-bottom: 4px;
$form-label-font-weight: 600;
$input-border-color: #DEDEDE;
$input-border-radius: 6px;
$input-bg: #FFF;
$input-placeholder-color: #A4A4A4;

$form-check-margin-bottom: 0;
$form-check-input-border-color: #9F9F9F;
$form-check-input-bg: #fff;
$form-check-input-width: 1.6em;
$form-check-input-checked-color: #fff;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'><path fill='#{$form-check-input-checked-color}' d='M6.66845 10.115L12.7964 3.98633L13.7398 4.92899L6.66845 12.0003L2.42578 7.75766L3.36845 6.81499L6.66845 10.115Z'/></svg>");
$form-check-input-border-radius: 6px;
//$form-label-font-size: 12px;

$table-cell-padding-y: 10px;
$table-cell-padding-x: 8px;
$table-bg: #fff;
$table-border-color: #DEDEDE;
$table-striped-bg: #F8FAFB;
$table-accent-bg: transparent;
$table-striped-order: even;
$table-striped-columns-order: even;

$list-group-bg: #fff;


@import "bootstrap";
@import "swal2";
@import "button";
@import "auth/login";
@import "main";
@import "responsive";

