body {
  overflow: hidden;
}

.form-control, .form-check-input {
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    outline: none;
  }
}
.btn-submit {
  background-color: #041e42;
  color: #FFFFFF;
  height: 32px;
  &:hover {
    background-color: #fd5c39 !important;
    color: #FFFFFF;
    border: none;
  }
}
